<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/default.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <div class="container">
    <section id="main" class="mx-auto my-5 py-5 px-3">
      <h1>키보드 추천 서비스 JOTA</h1><br>
      <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
      </div>
      <form action="/keyboard/result" method="POST">
        <h1>현재 신분 : 
            <input type="radio" name="identity" value="student" required> <label>학생</label>
            <input type="radio" name="identity" value="ordinary" required> <label>일반인</label>
        </h1>  
        <h1>주로 쓰는 용도 : 
            <input type="radio" name="purpose" value="coding" required> <label>코딩</label>
            <input type="radio" name="purpose" value="design" required> <label>디자인</label>
            <input type="radio" name="purpose" value="office" required> <label>사무(재택 및 온라인 강의용)</label>
            <input type="radio" name="purpose" value="game" required> <label>게임</label>
        </h1> 
        <h1>타격감 : 
            <input type="radio" name="blow" value="almost" required> <label>거의 없다</label>
            <input type="radio" name="blow" value="little" required> <label>조금 느끼는정도</label>
            <input type="radio" name="blow" value="normal" required> <label>보통</label>
            <input type="radio" name="blow" value="high" required> <label>타격감 최고</label>
        </h1>
        <h1>소리 : 
            <input type="radio" name="sound" value="No_noise" required> <label>무소음</label>
            <input type="radio" name="sound" value="small" required> <label>작게</label>
            <input type="radio" name="sound" value="normal" required> <label>보통</label>
            <input type="radio" name="sound" value="high" required> <label>크게</label>
        </h1>
        <h1>디자인 : 
            <input type="radio" name="design" value="fancy" required> <label>화려한 것</label>
            <input type="radio" name="design" value="modern" required> <label>모던한 것</label>
            <input type="radio" name="design" value="retro" required> <label>레트로</label>
        </h1>
        <h1>가격 : 
            <input type="radio" name="price" value="five" required> <label>~ 5만원</label>
            <input type="radio" name="price" value="ten" required> <label>~ 10만원</label>
            <input type="radio" name="price" value="twenty" required> <label>~ 20만원</label>
            <input type="radio" name="price" value="None" required> <label>상관 x</label>
        </h1>
        <input type="submit" class="btn btn-outline-danger mt-3" value="확인 하기">
      </form>
    </section>
  </div>
</body>
